psycopg2==2.9.9  # duplicates build/Dockerfile
aws-wsgi==0.2.7
connexion==2.14.2
sentry-sdk[flask]==1.44.0
flask-cors==4.0.0
Jinja2==3.1.2
jsonschema==4.17.3
jsonschema-specifications==2023.11.2
SQLAlchemy==2.0.29
SQLAlchemy-Utils==0.41.2